<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>человек</title>




</head>
<body>
<h4>Данные пользователя</h4>
<table>
    <tr>
        <th>Имя</th>
        <td th:text="${user.getName()}">VALUE</td>
    </tr>
    <tr>
        <th>Идентификатор</th>
        <td th:text="${user.getId()}">VALUE</td>
    </tr>
    <tr>
        <th>Возраст</th>
        <td th:text="${user.getAge()}">VALUE</td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${user.getEmail()}">VALUE</td>
    </tr>
    <tr>
        <th>Пароль</th>
        <td th:text="${user.getPassword()}">VALUE</td>
    </tr>

    <tr>
        <th>Пользователь</th>
        <td th:each="role : ${user.roles}" th:text="${role.name} + '; '"></td>
    </tr>

</table>
<!-- создает ссылку на страницу редактирования персоны, используя идентификатор персоны -->
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Изменить</a>

<!-- создает форму для отправки запроса на удаление персоны с указанным идентификатором -->
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>
